/* main.css */

/* Responsiveness strategy: Design for medium desktop and adapt it to breakpoints later */

body {
	background-color: #e7f4fc;
	color: #1d3960;
	font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 1em;
}

a {
	/*text-decoration: none;*/
}

a:link {
	color: #000080;
}

a:hover {
	color: #000080;
}

a:visited {
}

a:active {
}

.clearfix:before, .clearfix:after {
	content: "";
	display: table;
}
.clearfix:after {
	clear: both;
}

.img-responsive {
	max-width: 100%;
	height: auto;
}

*:focus {
	outline: none !important
}

/* Container */

.container {
	margin: 0 auto;
	width: 960px;
}

/* Main header */

#menu-wrapper {
	height: 44px;
	background-color: #b2d3e8;
}

/* Welcome */

#welcome-wrapper {
	background-color: #b2d3e8;
}

#welcome {
	min-height: 540px;
	text-align: center;
}

#welcome .logo {
	margin-top: 72px;
}

/* Therapists */

#therapists-wrapper {

}

#therapists {
	padding: 2em 0; 
}

.therapist {
	width: 49%;
	text-align: center;
	float: left;
}

.therapist h1 {
	font-size: 1.75em;
}

.therapist p {
	padding: 0 4em;
	font-size: 1.0625em;
}

.therapist ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.therapist li {
	font-size: 85%;
	font-weight: bold;
	padding: .1em 0;
}

.therapist .email {
	font-size: 110%;
}

.therapist .quote {
	font-family: Georgia;
	font-size: 108%;
}

/* Dente de leão */

.d1 {
	-ms-transform: rotate(-15deg); /* IE 9 */
	-webkit-transform: rotate(-15deg); /* Safari */
	transform: rotate(-15deg);
}

.d2 {
	-ms-transform: rotate(5deg); /* IE 9 */
	-webkit-transform: rotate(5deg); /* Safari */
	transform: rotate(5deg);
}

/* Footer */

footer {
	text-align: center;
	display: block;
	padding: 2em 0;
}

footer .item {
	margin: 0 1em;
}

footer .made {
	display: block;
	padding: 50px 0 0 0;
	color: #646464;
	font-size: .8125em;
}

footer .made .heart {
	color: #d40000;
}

footer .made img {
	vertical-align: middle;
}

/* ---------------------------- */
/* Media queries                */
/* ---------------------------- */

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 767px) {

	.container {
		width: 92%;
	}

	/* Welcome */

	#welcome {
		min-height: auto;
		padding-bottom: 120px;
	}

	#welcome .logo {
		max-width: 100%; /* img-responsive */
		height: auto; /* img-responsive */
	}

	/* Therapist */

	.therapist {
		width: 100%;
		float: none;
		display: block;
	}

	.therapist p {
		padding: 0 1em;
		font-size: 1.125em;
	}

	.therapist li {
		font-size: 95%;
		padding: .1em .5em;
	}

	/* Footer */

	footer .item {
		display: block;
		text-align: center;
		font-size: 1.25em;
		padding: .5em 0;
	}

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

	/* Default strategy */

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}

/* Media queries utils */

@media only screen and (max-width : 479px) {

	.xs-hidden {
		display: none;
	}
}